<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.potatodealer.gfiphotopickersample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.potatodealer.gfiphotopicker.activity.PhotoPickerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.GFISample.Light.DarkActionBar"/>
        <activity
            android:name="com.github.potatodealer.gfiphotopicker.activity.InstagramLoginActivity"
            android:theme="@style/AppTheme.GFISample.Light.DarkActionBar"/>
        <activity
            android:name="com.github.potatodealer.gfiphotopicker.activity.GalleryPreviewActivity"
            android:theme="@style/AppTheme.GFISample.Preview"/>
        <activity
            android:name="com.github.potatodealer.gfiphotopicker.activity.InstagramPreviewActivity"
            android:theme="@style/AppTheme.GFISample.Preview"/>
        <provider
            android:authorities="com.github.potatodealer.gfiphotopicker.data"
            android:name="com.github.potatodealer.gfiphotopicker.data.InstagramProvider"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>